<div class="login-page">
  <section class="login-card">
    <div class="badge">IDS</div>
    <h1>Secure Network Alert Center</h1>
    <p>Connectez-vous pour visualiser les alertes réseau en temps réel.</p>

    <form [formGroup]="form" (ngSubmit)="submit()">
      <label>Username</label>
      <input formControlName="username" placeholder="admin" />

      <label>Password</label>
      <input formControlName="password" type="password" placeholder="admin123" />

      @if (error) {
        <div class="error">{{ error }}</div>
      }

      <button type="submit" [disabled]="loading">
        {{ loading ? 'Connexion...' : 'Login' }}
      </button>
    </form>
  </section>
</div>
